/*=============================================================================
Block Safari: Structure
=============================================================================*/
/* Table Data */

.hash {
	display: inline-block;
	width: 333px;
	text-align: justify;
	word-wrap: break-word;
}

/*=============================================================================
Block Safari: Aesthetics
=============================================================================*/
/* Tables */

table {
	box-shadow: 0 0 3px #AAAAAA;
}

table tbody tr th {
	background: #f6f0ba;
}

table tbody tr td{
	border: 1px solid #fff;
}

table tbody tr:hover td{
	background: #000;
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	background: #666666;
}

table tbody tr:hover td a{
	color: #fff;
	text-decoration: underline;
}

table tbody tr td a:hover{
	text-decoration: none;
}

table tbody tr {
	transition-duration: 1s;
	-webkit-transition-duration:1s;
}

table tbody tr td ul{
	margin: 0 0 0 12px;
}

/* Other Objects */

h1 {
	text-shadow: 1px 1px 0 #000;
}

section.footer {
	text-align: center;
}

dl.blockstats dt, dl.blockstats dd {
	margin-bottom: 0;
}
